html * {
  font-family: 'Open Sans';
}

html,body {
  height: 100%;
  font-size: 100%;
}

*,:before,:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: default;
}

a:hover {
  cursor: pointer;
}

img,object,embed {
  max-width: 100%;
  height: auto;
}

object,embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,#map_canvas embed,#map_canvas object,.map_canvas img,.map_canvas embed,.map_canvas object {
  max-width: none!important;
}

.left {
  float: left!important;
}

.right {
  float: right!important;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: inline-block;
  vertical-align: middle;
}

textarea {
  height: auto;
  min-height: 50px;
}

select {
  width: 100%;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
}

table {
  background: #fff;
  margin-bottom: 1.25rem;
  border: solid 1px #ddd;
  width: 100%;
}

table thead,table tfoot {
  background: #f5f5f5;
}

table thead tr th,table thead tr td,table tfoot tr th,table tfoot tr td {
  padding: .5rem .625rem .625rem;
  font-size: .875rem;
  font-weight: 700;
  color: #222;
  text-align: left;
}

table tr th,table tr td {
  padding: .5625rem .625rem;
  font-size: .875rem;
  color: #222;
}

table tr.even,table tr.alt,table tr:nth-of-type(even) {
  background: #f9f9f9;
}

table thead tr th,table tfoot tr th,table tbody tr td,table tr td,table tfoot tr td {
  display: table-cell;
  line-height: 1.125rem;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}

.row:before,.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row.collapse>.column,.row.collapse>.columns {
  padding-left: 0;
  padding-right: 0;
  float: left;
}

.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}

.row .row {
  width: auto;
  margin-left: -.9375em;
  margin-right: -.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before,.row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before,.row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

.column,.columns {
  padding-left: .9375em;
  padding-right: .9375em;
  width: 100%;
  float: left;
}

@media screen,print {
  .column.small-centered,.columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }

  .column.small-uncentered,.columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left;
  }

  .column.small-uncentered.opposite,.columns.small-uncentered.opposite {
    float: right;
  }

  .small-push-0 {
    left: 0;
    right: auto;
  }

  .small-pull-0 {
    right: 0;
    left: auto;
  }

  .small-push-1 {
    left: 8.33333%;
    right: auto;
  }

  .small-pull-1 {
    right: 8.33333%;
    left: auto;
  }

  .small-push-2 {
    left: 16.66667%;
    right: auto;
  }

  .small-pull-2 {
    right: 16.66667%;
    left: auto;
  }

  .small-push-3 {
    left: 25%;
    right: auto;
  }

  .small-pull-3 {
    right: 25%;
    left: auto;
  }

  .small-push-4 {
    left: 33.33333%;
    right: auto;
  }

  .small-pull-4 {
    right: 33.33333%;
    left: auto;
  }

  .small-push-5 {
    left: 41.66667%;
    right: auto;
  }

  .small-pull-5 {
    right: 41.66667%;
    left: auto;
  }

  .small-push-6 {
    left: 50%;
    right: auto;
  }

  .small-pull-6 {
    right: 50%;
    left: auto;
  }

  .small-push-7 {
    left: 58.33333%;
    right: auto;
  }

  .small-pull-7 {
    right: 58.33333%;
    left: auto;
  }

  .small-push-8 {
    left: 66.66667%;
    right: auto;
  }

  .small-pull-8 {
    right: 66.66667%;
    left: auto;
  }

  .small-push-9 {
    left: 75%;
    right: auto;
  }

  .small-pull-9 {
    right: 75%;
    left: auto;
  }

  .small-push-10 {
    left: 83.33333%;
    right: auto;
  }

  .small-pull-10 {
    right: 83.33333%;
    left: auto;
  }

  .small-push-11 {
    left: 91.66667%;
    right: auto;
  }

  .small-pull-11 {
    right: 91.66667%;
    left: auto;
  }

  .column,.columns {
    position: relative;
    padding-left: .9375em;
    padding-right: .9375em;
    float: left;
  }

  .small-1 {
    width: 8.33333%;
  }

  .small-2 {
    width: 16.66667%;
  }

  .small-3 {
    width: 25%;
  }

  .small-4 {
    width: 33.33333%;
  }

  .small-5 {
    width: 41.66667%;
  }

  .small-6 {
    width: 50%;
  }

  .small-7 {
    width: 58.33333%;
  }

  .small-8 {
    width: 66.66667%;
  }

  .small-9 {
    width: 75%;
  }

  .small-10 {
    width: 83.33333%;
  }

  .small-11 {
    width: 91.66667%;
  }

  .small-12 {
    width: 100%;
  }

  [class*="column"]+[class*="column"]:last-child {
    float: right;
  }

  [class*="column"]+[class*="column"].end {
    float: left;
  }

  .small-offset-0 {
    margin-left: 0!important;
  }

  .small-offset-1 {
    margin-left: 8.33333%!important;
  }

  .small-offset-2 {
    margin-left: 16.66667%!important;
  }

  .small-offset-3 {
    margin-left: 25%!important;
  }

  .small-offset-4 {
    margin-left: 33.33333%!important;
  }

  .small-offset-5 {
    margin-left: 41.66667%!important;
  }

  .small-offset-6 {
    margin-left: 50%!important;
  }

  .small-offset-7 {
    margin-left: 58.33333%!important;
  }

  .small-offset-8 {
    margin-left: 66.66667%!important;
  }

  .small-offset-9 {
    margin-left: 75%!important;
  }

  .small-offset-10 {
    margin-left: 83.33333%!important;
  }

  .small-offset-11 {
    margin-left: 91.66667%!important;
  }

  .small-reset-order,.small-reset-order {
    margin-left: 0;
    margin-right: 0;
    left: auto;
    right: auto;
    float: left;
  }
}

@media print {
  * {
    color: #000!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
    content: "";
  }

  pre,blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }@  page {
    margin: .5cm;
  }

  p,h2,h3 {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none!important;
  }

  .print-only {
    display: block!important;
  }

  .hide-for-print {
    display: none!important;
  }

  .show-for-print {
    display: inherit!important;
  }
}

.text-right {
  text-align: right!important;
}

.text-center {
  text-align: center!important;
}

footer {
  page-break-after: always;
}