/* S: Common */
h4.account-icon-name a {
	color: #C00 !important;
}

i.account-icon {
	color: #C00 !important;
}

.dt-sc-button {
	background:#008c99;
	color:#FFFFFF;
}

.checkout-button-light {
    background: #008C99 !important;
}

.checkout-button-dark {
	background: #015057 !important;
}

ul.dt-sc-tabs li a { 	
	background: #C00;
}

ul.dt-sc-tabs-frame li a {
	background:#D7CBBB;
	padding:10px 15px 8px;
	float:left;
	position:relative;
	z-index:1;
}
ul.dt-sc-tabs-frame li a.current, ul.dt-sc-tabs li a.current, ul.dt-sc-tabs-vertical-frame li a.current {
	background: red;
	color: #FFF;
}

a {
	color:#C00;
}

.dt-sc-ico-content:hover h4 a, footer .widget ul li:before, footer .widget.widget_text ul li a:hover, footer .widget_recent_entries ul li:hover h6 a, ul.tweet_list li a, footer .dt-sc-contact-info a:hover, footer .dt-sc-contact-info span, .newsletter-subscribe-form p span, .dt-sc-ico-content.type1:hover h4 a, .fullwidth_banner h1, .audio-list h5 a:hover, .author-description h5 a:hover, .events-list h2 a:hover, h5.dt-sc-toggle-accordion a:hover, h5.dt-sc-toggle-accordion.active a, .dt-sc-team:hover .team-details h4, .portfolio-detail h5 a:hover, .highlighter, .entry-title h3, .pagination ul li a, .pagination .next-post a, .pagination .prev-post a, .dt-sc-toggle-frame h5 a:hover, .dt-sc-toggle-frame h5.active a, h5.dt-sc-toggle a:hover, h5.dt-sc-toggle.active a, ul.dt-sc-social-icons li a:hover, #main-menu .megamenu-child-container .widget ul.product_list_widget li a:hover, #main-menu .megamenu-child-container .widget ul.product_list_widget li span.amount {
	color:#cd6d6e;
}

.dt-sc-music-audio, .dt-sc-testimonial blockquote, .fullwidth-background.turquoise-plain-bg, h5.dt-sc-toggle-accordion.active:before, .dt-sc-testimonial-carousel-wrapper .carousel-arrows a:hover, .dt-sc-ico-content.type1 .infolayer a, .date, .comments, .entry_format, .dt-sc-ico-content.type3 .icon, .pagination ul li a:hover, .pagination .next-post a:hover, .pagination .prev-post a:hover, form.cart input[type="button"], th, h5.dt-sc-toggle.active:before, .dt-sc-pr-tb-col.selected .dt-sc-tb-header .dt-sc-price, .class_hours h2, .dt-sc-titled-box h4.dt-sc-titled-box-title, .mean-container a.meanmenu-reveal, .mean-nav, header ul.dt-sc-social-icons li a:after, .dt-menu-toggle {
	background:#008c99;
}
a:hover, ul.tweet_list li a:hover, .copyright p a:hover, .breadcrumb-section .breadcrumb a:hover, .sorting-container a, .portfolio-detail h5 a, .fullwidth-background.orange-bg a:hover, .dt-sc-ico-content.type3:hover h4 a {
	color:#434343;
}

input[type=text], input[type=email], input[type="telephone"], input[type="password"], select, textarea {
	border:1px solid #dadada;
}

input[type=submit], button[type=reset], button[type=submit] {
	background:#C00;
	color:#FFFFFF;
}

input[type=submit]:hover {
	background:#CD6D6E;
	color:#FFFFFF;
}

.newsletter-subscribe-form p {
	border:1px solid #dddddd;
	background-color:transparent;
}
.widget .newsletter-subscribe-form input[type="submit"] {
	border:1px solid #C00;
	color:#FFF;
}

.widget .newsletter-subscribe-form input[type="submit"]:hover {
	background:#CD6D6E;
	border:1px solid #CD6D6E;
}

/* E: Common */

/* S: Top Menu */
#top-menu {
	background-color: #F0F3F3;
}
/* E: Top Menu */

/* S: Nav */
/* ONE */
#main-menu > ul.menu > li:nth-child(1) > a {
	border-color:#282828;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-one > a, #main-menu > ul.menu > li:nth-child(1) > a:hover {
	color:#282828;
}
/* ONE */

/* TWO */
#main-menu > ul.menu > li:nth-child(2) > a {
	border-color:#414141;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-two > a, #main-menu > ul.menu > li:nth-child(2) > a:hover {
	color:#414141;
}
/* TWO */

/* THREE */
#main-menu > ul.menu > li:nth-child(3) > a {
	border-color:#505050;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-three > a, #main-menu > ul.menu > li:nth-child(3) > a:hover {
	color:#505050;
}
/* THREE */

/* FOUR */
#main-menu > ul.menu > li:nth-child(4) > a {
	border-color:#646464;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-four > a, #main-menu > ul.menu > li:nth-child(4) > a:hover {
	color:#646464;
}
/* FOUR */

/* FIVE */
#main-menu > ul.menu > li:nth-child(5) > a {
	border-color:#787878;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-five > a, #main-menu > ul.menu > li:nth-child(5) > a:hover {
	color:#787878;
}
/* FIVE */

/* SIX */
#main-menu > ul.menu > li:nth-child(6) > a {
	border-color:#8c8c8c;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-six > a, #main-menu > ul.menu > li:nth-child(6) > a:hover {
	color:#8c8c8c;
}
/* SIX */

/* SEVEN */
#main-menu > ul.menu > li:nth-child(7) > a {
	border-color:#a0a0a0;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-seven > a, #main-menu > ul.menu > li:nth-child(7) > a:hover {
	color:#a0a0a0;
}
/* SEVEN */

/* EIGHT */
#main-menu > ul.menu > li:nth-child(8) > a {
	border-color:#b4b4b4;
}
#main-menu > ul.menu > li.current_page_item.eight > a, #main-menu > ul.menu > li:nth-child(8) > a:hover {
	color:#b4b4b4;
}
/* EIGHT */

/* NINE */
#main-menu > ul.menu > li:nth-child(9) > a {
	border-color:#c8c8c8;
}
#main-menu > ul.menu > li.current_page_item.nav-colour-nine > a, #main-menu > ul.menu > li:nth-child(9) > a:hover {
	color:#c8c8c8;
}
/* NINE */
/* E: Nav */

footer {
	background-color: #c8c8c8;
}

.copyright {
	background-color: #000;
}

.breadcrumb-section {
	background:#c8c8c8;
}

.breadcrumb-section h1 {
	color:#333334;
}

.breadcrumb-section .breadcrumb span.current {
	color: #5c5c5c;
}

/* E: Common */


/* S: Home Page */

.categories-bg {
	background-color: #FFF;
}

.info-bg {
	background-color: #e6e6e6;
}

.recent-blog-bg {
	background-color: #FFF;
}

.recent-products-bg {
	background-color: #e6e6e6;
}

/* E: Home Page */

/* S: Product */
.product-images .main img {
	border:3px solid #c8c8c8;
}

.summary p.price span, .product-details .price, .product-details .sale-price {
	color: #494A4A;
}

.product-details .price-sale {
	color: #9b9b9b;
}
/* E: Product */

/* S: Category */

.category-products-bg {
	background-color: #FCF;
}
/* E: Category */

/* S: Products */
ul.products .image-overlay {
	background:rgba(226, 128, 128, 0.5);
}

.product-details h5 a {
	color:#8c8c8c;
}

.product-details h5 a:hover {
	color:#494A4A !important;
}

.product-thumb .product-button:hover {
	color:red;
	border:1px solid #FFF;
	background:#C00;
}
/* E: Products */